body {
	max-width: 800px;
	margin: 0 auto;
}
/* phone or baseline views **************************/

h3 {
	color: #536878;
	text-align: center;
}

main {
	margin: 0 auto;
	text-align: center;
	background-color: gray;
}
.colimage {
	box-shadow: 0 0 30px #333;
}
header, footer {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
	background-color: #6cc551;
	padding: 0.5em; 

}
span {font-weight: 700;}
 #getdate {color: yellow;}
ul,ol {text-align: center;
        list-style-type: none;}
h2 {text-align: center;}

nav {
	background-color: #028090;
}

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 2em 0.5em 2em ;
	color: black;
}