body {
	max-width: 800px;
	margin: 0 auto;
}
/* phone or baseline views **************************/

h3 {
	color: #536878;
	text-align: center;
}

main {
	margin: 0 auto;
	background-color: #f0f3bd;
}

header, footer {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
	background-color: #05668d;
	padding: 0.5em; 
}
span {font-weight: 700;}
 #getdate {color: yellow;}
h2 {font-family: 'Oxygen', sans-serif;
	font-size: 25px;}

nav {
	background-color: #028090;
}

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 2em 0.5em 2em ;
	color: black;
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li a:hover {
    background-color: #00a896;
    color: black;
}
p {font-size: 18px;
	color: black;
	font-family: 'Oxgen' sans-serif;}
footer {font-size: 16px;}