nav {
    font-size: 1.2em;
    margin-top: 1em;
    line-height: 4em;
}
#style.link {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
     background-color: #6cc551;

}
img {
    max-width: 25%;
    position: absolute;
    top:0px;
    right: 0px;
}
    body {margin: .5rem;}
    span {font-weight: 700;}
    #getdate {color: yellow;}
