body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}
/* phone or baseline views **************************/

h2 {
	color: #536878;
}

main {
	display: grid;
	grid-template-columns: 1fr;
}

 section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;

}
.colimage {
	box-shadow: 0 0 30px #333;
}
header, footer {
    padding-top: 1em;
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 1em;
    text-align: center;
     background-color: #6cc551;

}
span {font-weight: 700;}
    #getdate {color: yellow;}
    ul {text-align: center;
        list-style-type: none;}
	h1 {text-align: center;}