body {
	background-color: whitesmoke;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#logoclick {
    margin: 0rem;
    padding: 0rem;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* phone or baseline views **************************/

main {
	margin: 0 auto;
    background-color: #f0f3bd;
    max-width: 1200px;
}

header {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
	background-color: #00a896; 
}
h2 {font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    text-align: center;
}

nav {
    padding: 0;
    background-color: #05668d;
    text-align: center;
}

nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
	color: white;
	font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li a:hover {
    background-color: #00a896;
    color: black;
}   
footer {font-size: 16px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    background-color: #05668d;
    color: white;
}

nav button {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-top: 1px solid black;
    color: #fff;
}
nav button:hover {
    background-color: #00a896;
    color: black;
}
nav button:focus{
    outline: black;
}
nav, main, footer {
    clear: both;
  }
.infobox {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    background-color: #eee;
    color: #444;
    font-family: 'Oxygen', sans-serif;
}
.hide li {
    display: block;
}
nav ul.hide {
    display: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  #thunder{max-width: 80px;
        width: 100%;
        height: auto;}
#wind{
        font-family: 'Oxygen', sans-serif;
            font-size: 15px;
            align-content: center;
    }
.smallbox {
    position: absolute;
    font-family: 'Oxygen', sans-serif;
    top: 20px;
    left: 20px;
    background-color: #05668d;
    border: 1px solid rgba(92, 91, 91, 0.6);
    color: blanchedalmond;
    border: 1px solid #05668d;
    padding: 8px 5px 8px 5px;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    display: grid;
    grid-template-columns: auto auto;
    max-width: 25%;
    min-width: 160px;
    font-size: 14px;
    margin-bottom: 2px;
}
.under{
        grid-column: 1 / span 2;
        text-align: center;
        border-bottom: 1px solid black;
        color: #000000;
}
.wbox {
    color: whitesmoke;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
}
.wboxv{
    color:whitesmoke;
    text-align: right;
    font-family: 'Oxygen', sans-serif;
}
#greenval{
    width: 100%;
}

p {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}
.backgr{
    display: none;
    background-color: #f0f3bd;
}
.theHero{
    margin: 10px auto;
    position: relative;
    max-width: 1200px;
}
.Presart{
padding: 10px;
margin: 0px auto 15px auto;
max-width: 800px;
background-color: #05668d;
color: white;
}
.Presart img{
        width: 100%;
        box-shadow: 0 0 7px #111;
}
.contactme {
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conicon{
    padding: 2em;
}
#banner{
    font-family: 'Oxygen', sans-serif;
    display: none;
    justify-content: center;
    align-items: center
    
}
#act{
    background-color: #00a896;
}
.Imap{
    display: none;
}
span{
    color: white;
}
.thegallery{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: auto;
    width: 100%;
}
.thegallery figure img {
    width: 100%;
    height: 300px;
}
img[data-src] {
    filter: blur(5px);
}
img {
    filter: blur(0px);
    transition: filter 5s;
}
figure{
    text-align: center;
}
#themidcent{
    text-align: center;
    color: #05668d;
}
 form fieldset {
     margin: auto;
     border-radius: 12px;
     margin: 1rem 1rem;
     border: solid 2px black;
     background-color: wheat;
 }
 fieldset legend {
    color: #05668d;
    font-size: 24px;
 }

 form label {
     margin: 0 1rem 0 0;
 }

 .userinfo {
     display: block;
     padding: 1rem;
     margin-top: 1rem;
     font-size: 18px;
 }

 form label.userinfo input, textarea, form select {
     display: block;
     border: solid 1px gray;
     border-radius: 5px;
     margin: 0 0 0 0.2rem;
     padding: 1rem;
     background-color: rgba(163, 207, 180, 0.4);
     font-size: 16px;
     width: 100%;
     max-width: 20rem;
 }

 form label.bub {
     display: block;
     padding: .5rem;
     font-size: 1rem;
 }

 .flexly {
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-right: 0;
    margin-bottom: 0;
    
}
label.flexly {
    display: block;
}

#ratingvalue{
    margin: 0 0.2rem;
}

#ratingvalue:hover{
    box-shadow: none;
}
#thebutton {
    border: none;
    margin: 1.25rem 1rem 1.5rem 1rem;
    background-color: #05668d;
    padding: 0.75rem;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    align-items: center;
}

.thanks h2  {
    text-align: left;
    color: #05668d;
}
.thanks p {
    text-align: center;
}
.HomeCards section{
    margin: 2px;
    padding-bottom: 10px;
    border: 1px solid #bbbbbb;
    background-color: #eee;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .85);
    max-width: 100%;
    padding: 10px;
    border-radius: 4px;
}
.goingdown{
    background-color: gray;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: 3px solid black;
    text-align: center;
}
.goingdown p {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    color: black;
}
@media screen and (max-width: 32.5em) {
.HomeCards {
    display: flex;
    margin: 5px;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
}
.HomeCards img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}
