table {
    border: 1px solid lightgrey;
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: 4px 4px 4px 4px #628ca6;
}

tbody th {
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #628ca6;
}

tbody td {
    padding: 10px;
    
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}
tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

thead {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    background-color: #7fb9c2;
}

tfoot {
    padding: 10px;
    text-align: center;
    background-color: #7fb9c2;
    font-size: 12px;
}
body {
    justify-content: center;
}
h1 {
    text-align: center;
}
#darkb {
    background-color:  #628ca6;
    color: #e7f0ed;
}
th, td {
    padding: 10px;
    border: 2px solid lightgray;
}